.app {
    background-color: rgba(118, 118, 118, 0.24);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-wrapper {
    border: 3px solid deepskyblue;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;

}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 150px;
}


.settings-displays {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 100%;
}

.settings-buttons {
    border: 3px solid deepskyblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.display {
    display: flex;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.display-buttons {

    border: 3px solid deepskyblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.title {
    margin: 10px;
    align-content: space-around;
    justify-content: space-around;
}