.app {
    background-color: rgb(106, 106, 106);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.counter-wrapper {
    border: 3px solid deepskyblue;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 150px;

}


.settings-displays {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

.settings-buttons {
    border: 3px solid deepskyblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.display {
    display: flex;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 60px;
}

.title {
    margin: 10px;
    align-content: space-around;
    justify-content: space-around;
}

.text {
    color: #ff3636;
    font-size: 60px;
    font-weight: bold;
}
.info{
    text-align: center;
    font-size: 18px;
    color: #ff3636;
}