.app {
    background-color: rgb(106, 106, 106);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.counter-wrapper {
    border: 3px solid deepskyblue;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 180px;
}

.settings-displays {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

.settings-buttons {
    border: 3px solid deepskyblue;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.display {
    display: flex;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.title {
    margin: 10px;
    align-content: space-around;
    justify-content: space-around;
}

.text {
    color: #ff3636;
    font-weight: bold;
}

.massageBlackColor {
    text-align: center;
}

.massageErrorRed {
    color: red;
    text-align: center;
}

button {
    height: 40px;
    width: 60px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    background: #2f2f2f;
}

button:disabled {
    opacity: 0.5;
}

button:disabled:hover {
    background: #2f2f2f;
}

button:hover {
    background: #4cb2fc;
}

button:active {
    transform: translateY(2px);
}